.Navbar{
    position: fixed;
    top: 0;
left: 0;
width: 100%;

}

.nav-item-h{

align-items: center;
padding-right: clamp(0px, 1vw, 20px );
justify-content: space-evenly;

}
.nav-h{
   
   justify-content: end;
    height: 60px;
    background: linear-gradient(0.5turn, rgb(152, 0, 0), black);
   
}

.nav-item{
    font-family:  var(--mont);
   position: relative;
   padding-top: 0 ;
   padding-bottom: 0 ;
   /* margin-left: clamp(1px, 5%, 20px); */
   margin-right: clamp(5px, 5vw, 30px);
   cursor: pointer;
   font-size: clamp(10px, 100%, 20px);
   
}
.nav-item:before{
    position: absolute;
    bottom: 0%;
    content: "";
    height: 2px;
    background-color: rgba(130, 130, 130, 0.649);
    width: 0;
    border-radius: 6px;
    
    
   
}

.nav-item:hover::before{
    width: 100%;
    transition: 0.7s;
}

.nav-item:hover{
    transition: 0.9s;
    color: white;
    
}