*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --roboto: 'Roboto', sans-serif;
    --mont: 'Montserrat', sans-serif;
    --russo: 'Russo One', sans-serif;
    --manrope: 'Manrope', sans-serif;
    --red: #f70000;
    --background: #131313;
    --black: #000000;
    --white:#e6e6e5;
    --grey: #a7a7a7;
    --darkGrey:#7d7c7c;
}
.t{
    height: 100px;
    
}
.black{
    background-color: rgb(22, 22, 22);
}

.red{
    background-color: rgb(152, 0, 0);
}
.white{
    background-color: rgb(232, 232, 232);
}
.other{
    background-color: rgb(160, 160, 160);
}
